.movies {
  padding-bottom: 91px;
}

.movies__button {
  display: block;
  margin: 50px auto 0 auto;
  padding: 9px;
  width: 320px;
  color: #fff;
  background-color: transparent;
  border: 2px solid #424242;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
}

.movies__button:hover {
  opacity: 0.8;
}

@media screen and (max-width: 1024px) {
  .movies {
    padding-bottom: 104px;
  }

  .movies__button {
    width: 320px;
  }
}

@media screen and (max-width: 480px) {
  .movies {
    padding-bottom: 101px;
  }
  
  .movies__button {
    width: 240px;
  }
}